body, * {

    margin: 0;
    padding: 0;
    box-sizing: border;
    font-family: 'Roboto', sans-serif;

    
}

.app {

    width: 95vw;
    height: 100vh;
    

    margin-left: 1.5rem;
    margin-right: 2rem;

    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

ul,li,a {
    text-decoration: none;
    list-style: none;
}

:root {

    /* global      */

    --transition-normal: 0.5s;
    --color-normal-links: #000;
    --normal-color-theme: rgb(0,179,136);

    /* tell-us */

    --left-margin-tell-us: 1rem;
    --font-size-tell-us: 14px;
    --hover-login-color: rgb(0, 110, 85);
    
    /* navigator */
    
    --left-margin-nav: 1.5rem;
    --font-size-nav: 16px;
    --background-demo: rgba(0, 179, 137, 0.267);
    --background-demo-hover: rgba(0, 179, 137, 0.404);
    --background-try-hover: rgb(1, 141, 108);
}


/* :root{ 
    --cc-bg: #fff;
    --cc-text: var(--grey-900);
    --cc-btn-primary-bg: var(--green-500);
    --cc-btn-primary-text: var(--cc-bg);
    --cc-btn-primary-hover-bg: var(--green-700);
    --cc-btn-secondary-bg: #eaeff2;
    --cc-btn-secondary-text: var(--cc-text);
    --cc-btn-secondary-hover-bg: #d8e0e6;
    --cc-toggle-bg-off: #919ea6;
    --cc-toggle-bg-on: var(--cc-btn-primary-bg);
    --cc-toggle-bg-readonly: #d5dee2;
    --cc-toggle-knob-bg: #fff;
    --cc-toggle-knob-icon-color: #ecf2fa;
    --cc-block-text: var(--cc-text);
    --cc-cookie-category-block-bg: #f0f4f7;
    --cc-cookie-category-block-bg-hover: #e9eff4;
    --cc-section-border: #f1f3f5;
    --cc-cookie-table-border: #e9edf2;
    --cc-overlay-bg: rgba(4, 6, 8, 0.85);
    --cc-webkit-scrollbar-bg: #cfd5db;
    --cc-webkit-scrollbar-bg-hover: #9199a0;
} */

